* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #a09038;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url('../img/pexels-francesco-ungaro-998641.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}